{{#each favorite as |favorites| }}
<div class="flex font-sans favorite"  data-index='{{favorites.recipeID}}'>

  <div class="flex flex-wrap" >
    
    <h2 class="flex-auto text-lg font-bold text-slate-900" data-id='{{favorites.id}}'>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{favorites.title}} 
      <button type="button" onclick="deleteId(event)">Delete Recipe</button>
    </h2>
  </div>

  <div class = "flex-none w-48 relative">
      <a href="/favorite/{{favorites.id}}"><img src="{{favorites.image_url}}" class="absolute inset-0 w-full h-full object-cover"/></a>
  </div>
  
</div>
{{/each}} 

<script src="/js/deleteId.js"></script>