<div class="flex flex-wrap py-16 px-10"></div>
{{#each favorite as |favorites| }}
<div class="bg-red-500 m-7"  data-index='{{favorites.recipeID}}'>

  <div class="flex flex-wrap" >
    
    <h2 class="flex-auto text-lg font-bold m-3" data-id='{{favorites.id}}'>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{favorites.title}} 
      <button class="flex items-center shadow bg-red-700 px-4 py-2 text-white hover:bg-red-900 m-3" type="button" onclick="deleteId(event)">Delete Recipe</button>
    </h2>
  </div>

  <div class = "flex-none w-48 relative">
      <a href="/favorite/{{favorites.id}}"><img src="{{favorites.image_url}}" class="w-full m-3 border-b-4 border-black rounded"/></a>
  </div>
  
</div>
{{/each}} 
</div>

<script src="/js/deleteId.js"></script>