<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div id="user-id" data-id='{{id}}' class="row mt-4">
  <div class="col-md-6">
    <h3>Add New Ingredients</h3>

    <form class="form new-ingredient-form">
      <div class="form-group">
        <label for="ingredient-name">Ingredient name:</label>
        <input id="ingredientName" class="form-input" type="text"  />
        <button type="button" id="add-button" class="btn btn-primary">Add</button>
      </div>
      <div class="form-group">
        
        <button type="button" id="start-button" class="btn btn-primary">Recipe</button>
        <button type="button" id="clear-button" class="btn btn-primary">Clear</button>
        <button type="button" id="favorite-button" class="hide-fav-button">Clear</button>
      </div>
    </form>
  </div>


  <div class="col-md-6 ingredient-list">
    <h3>Current ingredients:</h3>


    <ul id="ingrBoard" class="ingrBoard">
     

    </ul>
 <div id="recipe-container">

 </div>
 <div id="recipe-dash" class="recipe-dash">
  <button id="closeRecipe">Close</button>

 </div>

  {{!-- {{#if projects.length}}
  <div class="col-md-6 ingredient-list">
    <h3>Current ingredients:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="./js/getRecipes.js"></script>
<script src="./js/getInfo.js"></script>
<script src="./js/ingredient.js"></script>
<script src="./js/favorites.js"></script>